<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yjx.template.dao.AppAuthMapper" >
  <resultMap id="BaseResultMap" type="com.yjx.template.pojo.AppAuth" >
    <id column="APP_ID" property="appId" jdbcType="VARCHAR" />
    <result column="APP_NAME" property="appName" jdbcType="VARCHAR" />
    <result column="TYPE" property="type" jdbcType="VARCHAR" />
    <result column="APP_SECRET" property="appSecret" jdbcType="VARCHAR" />
    <result column="APP_DESC" property="appDesc" jdbcType="VARCHAR" />
    <result column="APP_PROD" property="appProd" jdbcType="VARCHAR" />
    <result column="SECURITY_LEVEL" property="securityLevel" jdbcType="VARCHAR" />
    <result column="CALLBACK_DOMAIN" property="callbackDomain" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    APP_ID, APP_NAME, TYPE, APP_SECRET, APP_DESC, APP_PROD, SECURITY_LEVEL, CALLBACK_DOMAIN
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from APP_AUTH
    where APP_ID = #{appId,jdbcType=VARCHAR}
  </select>
  <select id="listAll" resultType="com.yjx.template.pojo.AppAuth">
    select
    <include refid="Base_Column_List" />
    from APP_AUTH
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from APP_AUTH
    where APP_ID = #{appId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.yjx.template.pojo.AppAuth" >
    insert into APP_AUTH (APP_ID, APP_NAME, TYPE, 
      APP_SECRET, APP_DESC, APP_PROD, 
      SECURITY_LEVEL, CALLBACK_DOMAIN)
    values (#{appId,jdbcType=VARCHAR}, #{appName,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, 
      #{appSecret,jdbcType=VARCHAR}, #{appDesc,jdbcType=VARCHAR}, #{appProd,jdbcType=VARCHAR}, 
      #{securityLevel,jdbcType=VARCHAR}, #{callbackDomain,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yjx.template.pojo.AppAuth" >
    insert into APP_AUTH
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="appId != null" >
        APP_ID,
      </if>
      <if test="appName != null" >
        APP_NAME,
      </if>
      <if test="type != null" >
        TYPE,
      </if>
      <if test="appSecret != null" >
        APP_SECRET,
      </if>
      <if test="appDesc != null" >
        APP_DESC,
      </if>
      <if test="appProd != null" >
        APP_PROD,
      </if>
      <if test="securityLevel != null" >
        SECURITY_LEVEL,
      </if>
      <if test="callbackDomain != null" >
        CALLBACK_DOMAIN,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="appId != null" >
        #{appId,jdbcType=VARCHAR},
      </if>
      <if test="appName != null" >
        #{appName,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="appSecret != null" >
        #{appSecret,jdbcType=VARCHAR},
      </if>
      <if test="appDesc != null" >
        #{appDesc,jdbcType=VARCHAR},
      </if>
      <if test="appProd != null" >
        #{appProd,jdbcType=VARCHAR},
      </if>
      <if test="securityLevel != null" >
        #{securityLevel,jdbcType=VARCHAR},
      </if>
      <if test="callbackDomain != null" >
        #{callbackDomain,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yjx.template.pojo.AppAuth" >
    update APP_AUTH
    <set >
      <if test="appName != null" >
        APP_NAME = #{appName,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        TYPE = #{type,jdbcType=VARCHAR},
      </if>
      <if test="appSecret != null" >
        APP_SECRET = #{appSecret,jdbcType=VARCHAR},
      </if>
      <if test="appDesc != null" >
        APP_DESC = #{appDesc,jdbcType=VARCHAR},
      </if>
      <if test="appProd != null" >
        APP_PROD = #{appProd,jdbcType=VARCHAR},
      </if>
      <if test="securityLevel != null" >
        SECURITY_LEVEL = #{securityLevel,jdbcType=VARCHAR},
      </if>
      <if test="callbackDomain != null" >
        CALLBACK_DOMAIN = #{callbackDomain,jdbcType=VARCHAR},
      </if>
    </set>
    where APP_ID = #{appId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yjx.template.pojo.AppAuth" >
    update APP_AUTH
    set APP_NAME = #{appName,jdbcType=VARCHAR},
      TYPE = #{type,jdbcType=VARCHAR},
      APP_SECRET = #{appSecret,jdbcType=VARCHAR},
      APP_DESC = #{appDesc,jdbcType=VARCHAR},
      APP_PROD = #{appProd,jdbcType=VARCHAR},
      SECURITY_LEVEL = #{securityLevel,jdbcType=VARCHAR},
      CALLBACK_DOMAIN = #{callbackDomain,jdbcType=VARCHAR}
    where APP_ID = #{appId,jdbcType=VARCHAR}
  </update>
</mapper>